@font-face {
    font-family: Oswald;
    src: url(../public/fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: Ahsing;
    src: url(../public/fonts/Ahsing-Regular.otf);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

$purple: #9b69ff;
$black: #000000;
$white: #FFFFFF;
$grey: #d9d9d9;
$dark-grey: #737373;
$light-grey: #f4f4f4;
$light-purple: #D5C2FA;
$fs-xs: 16px;
$fs-s: 19px;
$fs-m: 24px;
$fs-l: 36px;
$fs-xl: 47px;
$fs-xxl: 77px;
$fs-xxxl: 125px;
$fw-thin: 200;
$fw-normal: 300;
$fw-bold: 600;
$standard-padding: 20px;
$mobile-width: 480px;
$tablet-width: 1100px;


.App {
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Oswald;
    letter-spacing: 0.05em;
}

button:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $standard-padding;
    z-index: 999;
    height: calc(4 * $standard-padding);
    background-color: $light-grey;

    .nav-btn-container, .desktop-nav-btns {
        width: calc(100% / 3);
        display: flex;
        align-items: center;
    }

    .nav-btn-container:first-of-type {
        justify-content: flex-start;
    }

    .nav-btn-container:nth-of-type(2) {
        justify-content: center;
    }

    .nav-btn-container:last-of-type {
        justify-content: flex-end;
    }

    .desktop-nav-btns {
        justify-content: flex-end;
        gap: $standard-padding;
    }

    .nav-btn {
        background: $purple;
        border: 1px solid transparent;
        border-radius: 5px;
        font-size: $fs-s;
        transition: all 500ms;
        padding: calc($standard-padding / 4);
        color: $white;
        font-weight: $fw-normal;
    }

    .nav-btn:not(.logo):hover {
        background-color: rgba($grey, 0.5);
    }

    .logo {
        background: none;
        font-family: Ahsing;
        font-size: $fs-xl;
        color: $black;
        padding: 0;
        height: calc($fs-xl - 10px);
        letter-spacing: -0.1em;
        text-align: center;
    }

    @media only screen and (max-width: 1100px) {
        .desktop-nav-btns {
            display: none !important;
        }
    }

    @media only screen and (min-width: 1101px) {
        .nav-btn-container:last-of-type  {
            display: none !important;
        }
    }
}

    .menu {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $standard-padding;
        background-color: $light-grey;

        .nav-btn, .x-out {
            background: none;
            border: none;
            font-size: $fs-m;
            color: $black;
            font-weight: $fw-normal;
            transition: all 500ms;
            width: fit-content;
        }

        .nav-btn:hover, .x-out:hover {
            font-weight: $fw-bold;
        }

        .x-out {
            position: absolute;
            right: $standard-padding;
            top: $standard-padding;
            color: $black;
        }

        .x-out:hover {
            color: $dark-grey;
        }
    }

    // HOME
    .home-body {
        width: 100vw;
        min-height: calc(100vh - (4 * $standard-padding));
        margin-inline: auto;
        display: flex;
        align-items: center;
        overflow: clip;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: $standard-padding;
            
            h1 {
                font-weight: $fw-normal;
                font-size: clamp($fs-xl, 10vw, $fs-xxxl);
                padding: 0;
                line-height: 1em;
                letter-spacing: 0.01em;
            }

            .highlight {
                position: relative;
                margin-left: 10px;
                font-size: clamp($fs-xl, 10vw, $fs-xxxl);
                line-height: 1em;
                z-index: 1;
                font-weight: $fw-normal;
            }

            .highlight::after {
                content: "";
                display: block;
                background-color: $purple;
                transform: scale(1.07, 1.05) skewX(-15deg);
                width: calc(100% + $standard-padding);
                height: 1.25em;
                position: absolute;
                left: calc(-0.5 * $standard-padding);
                bottom: -0.25em;
                z-index: -1;
            }

            .cta {
                background: none;
                border: none;
                border-bottom: 2px solid $purple;
                font-size: $fs-m;
                color: $purple;
                font-weight: $fw-normal;
                margin-top: 2.5vw;

                i {
                    font-size: $fs-s;
                }
            }
        }

            img {
                width: 300px;
                aspect-ratio: 1;
                object-fit: contain;
                z-index: 2;
                transform: translate(calc(-2.5 * $standard-padding), calc(3.5 * $standard-padding));
            }
        }

        @media only screen and (min-width: 479px) {
            .home-body {
                justify-content: center;
            }
        }

        @media only screen and (max-width: 480px) {
            .home-body {
                justify-content: flex-start;
                padding-left: calc(2 * $standard-padding);
            }
        }
    // ABOUT
    .about-body {
        scroll-margin-top: calc(4 * $standard-padding);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        gap: calc(4 * $standard-padding);
        margin-block: calc(4 * $standard-padding);
        background-color: $white;
        padding: calc(4 * $standard-padding);

        .text {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: $standard-padding;
            max-width: 500px;
            h2 {
                color: $purple;
                font-size: $fs-m;
                font-weight: $fw-normal;
            }

            p {
                font-size: $fs-l;
                font-weight: $fw-normal;
                line-height: 1.25em;
            }
        }
        
        .testimonial {
            padding-inline: $standard-padding;
            display: grid;
            place-content: center;
            width: 50%;
            max-width: 500px;
            blockquote {
                margin-bottom: $standard-padding;
                font-size: $fs-l;
                font-weight: $fw-normal;
                text-align: center;
                padding: $standard-padding;
                width: calc(100% - $standard-padding);
                background-color: $purple;
                line-height: 1.75em;
                box-shadow: $standard-padding $standard-padding 0px 0px rgba($light-purple, 0.5);

                .highlight {
                    background-color: $white;
                    padding: 10px $standard-padding;
                    line-height: calc(1.5em + $standard-padding);
                }
            }
        }
    }


    @media only screen and (max-width: 1100px) {
        .about-body {
            flex-direction: column;
            background-color: transparent;
            
            .text {
                background-color: $white;
                width: 100vw;
                padding: calc(4 * $standard-padding) $standard-padding;
                max-width: none;
            }

            .testimonial {
                width: 100vw;
                max-width: none;
            }
        }
    }

    // SERVICES
    .services-body {
            display: flex;
            flex-direction: column;
            gap: $standard-padding;
            scroll-margin-top: $standard-padding;

            .service-intro {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: $standard-padding;
                h2 {
                    color: $purple;
                    font-size: $fs-m;
                    font-weight: $fw-normal;
                    line-height: 1em;
                    margin-top: $standard-padding;
                }
                
                h3 {
                    font-size: $fs-l;
                    font-weight: $fw-normal;
                    line-height: 1.25em;
                    margin-bottom: $standard-padding;
                }
            }
                
        .service {
            display: flex;
            align-items: center;
            width: 100vw;
            .service-img {
                max-height: 400px;
                object-fit: cover;
                object-position: center 65%;
            }

            .text {
                display: flex;
                align-items: center;
                padding: (2 * $standard-padding);
                gap: $standard-padding;

                .service-description {
                    display: flex;
                    justify-content: flex-start;
                    height: 100%;
                    font-weight: $fw-normal;
                    font-size: $fs-s;
                    color: $dark-grey;
                    line-height: 1.5em;
                    padding-inline: $standard-padding;
                    max-width: 600px;
                }

                .icon-and-name {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: $standard-padding;
                    height: 100%;
                    max-width: 600px;


                    .icon {
                        color: $black;
                        width: calc( 3 * $standard-padding);
                        height: calc( 3 * $standard-padding);
                        display: grid;
                        place-content: center;
                        background-color: $purple;
                        border-radius: 100%;

                        svg {
                            width: calc( 1.5 * $standard-padding);
                            height: calc( 1.5 * $standard-padding);
                        }
                    }

                    .service-name {
                        font-weight: $fw-normal;
                        font-size: $fs-m;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .services-body {
            .service-intro {
                padding-inline: $standard-padding;
            }
            .service {
                flex-direction: column;

                .service-img {
                    width: 100%;
                }

                .text {
                    align-items: center;
                    padding: (2 * $standard-padding) (1 * $standard-padding);

                    .service-description {
                        width: calc(60% + $standard-padding);
                        align-items: center;
                    }

                    .icon-and-name {
                        align-items: center;
                        width: calc(40% - $standard-padding);

                        .service-name {
                            font-size: $fs-s;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 800px) {
        .services-body {
            .service-intro {
                max-width: calc(100vw * (3/4));
                margin-inline: auto;
                width: 100%;
            }
            .service {
                margin-inline: auto;
                .service-img {
                    width: 50%;
                    aspect-ratio: 4/3;
                }
            }
            .text {
                flex-direction: column;
                align-items: center;
                width: 100%;

                .icon-and-name {
                    align-items: flex-start;
                    width: 100%;
                    padding-inline: $standard-padding;
                }
            }
        }
    }


    @media only screen and (min-width: 800px) {
        .services-body {
            .service {
                .service-img {
                    width: 50%;
                }

                .text {
                    width: 50%;
                }
            }
        }
    }

    //PROJECTS
        .projects-body {
            display: flex;
            flex-direction: column;
            max-width: 1000px;
            align-items: center;
            margin-block: calc(4 * $standard-padding);
            scroll-margin-top: calc(4 * $standard-padding);
            gap: $standard-padding;
            position: relative;

            h2 {
                color: $purple;
                width: 100%;
                font-size: $fs-m;
                font-weight: $fw-normal;
                padding-inline: $standard-padding;
                text-align: left;
            }

            h3 {
                font-size: $fs-l;
                font-weight: $fw-normal;
                line-height: 1.25em;
                padding-inline: $standard-padding;
                width: 100%;
                text-align: left;
            }

            p {
                font-size: $fs-s;
                font-weight: $fw-normal;
                line-height: 1em;
                padding-inline: $standard-padding;
                width: 100%;
                color: $dark-grey;
                text-align: left;
            }
            
        }

    //SLIDER

    .dot-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: calc( 0.5 * $standard-padding);
        
        .dot {
            width: $standard-padding;
            height: $standard-padding;
            color: $purple;
        }
    }

    .dot-active {
        opacity: 0.5;
    }

    .slider-btns {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: $standard-padding;
            gap: $standard-padding;

            button {
                width: calc($standard-padding * 2.5);
                height: calc($standard-padding * 2.5);
                display: grid;
                place-content: center;
                border-radius: 50%;
                border: 2px solid transparent;
                color: $purple;
                font-size: $fs-xl;
            }
    }

        .slider {
            width: 100%;
            display: flex;
            align-items: flex-start;
            transition: all 500ms ease-in;
            scroll-snap-type: x mandatory;
            scroll-padding: 0;
            scroll-behavior: smooth;
            -webkit-scroll-color: $dark-grey;
            background-color: $light-grey;


            .slide {
                scroll-snap-align: start;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: $standard-padding;
                transition: all 750ms;

                .slide-image {
                    width: 100vw;
                    max-width: 1000px;
                    aspect-ratio: 1.9/1;
                    object-fit: cover;
                    object-position: top center;
                }

                p:first-of-type {
                    font-size: $fs-s;
                    color: $dark-grey;
                    line-height: 1.5em;
                    font-weight: $fw-normal;
                }
                
                p:nth-of-type(2) {
                    font-size: $fs-s;
                    color: $black;
                    font-weight: $fw-normal;
                }

                .slide-link {
                    text-decoration: none;
                    font-size: $fs-xs;
                    color: $white;
                    font-weight: $fw-normal;
                    background-color: $purple;
                    padding: calc(0.5 * $standard-padding) $standard-padding;
                    border-radius: 30px;
                    margin-left: $standard-padding;
                    margin-bottom: $standard-padding;
                }

                p:first-of-type:before {
                    content: '"'
                }

                p:first-of-type:after {
                    content: '"'
                }
                
            }

        }
            
            /*width*/
            .slider::-webkit-scrollbar {
                height: calc($standard-padding / 3);
            }
            
            /*track*/
            .slider::-webkit-scrollbar-track {
                background:transparent;
            }
            
            /*thumb*/
            .slider::-webkit-scrollbar-thumb {
                background: $dark-grey;
                border-radius: 20px;
            }

            @media only screen and (min-width: 1000px) {
                .projects-body {
                    margin-inline: auto;
                }

                .swipe-msg {
                    display: none !important;
                }
            }

            @media only screen and (max-width: 1000px) {
                .slider {
                    overflow-x: auto;

                    .slide-image {
                        width: 100vw;
                    }
                }
                .dot-container, .slider-btns {
                    display: none !important;
                }
            }

    // CONTACT
        .contact-body {
            display: flex;
            flex-direction: column;
            padding-inline: $standard-padding;
            scroll-margin-top: calc(4 * $standard-padding);
            align-items: center;
            gap: $standard-padding;

            h2 {
                font-size: $fs-m;
                text-align: center;
                font-weight: $fw-normal;
                color: $purple;
            }

            p {
                font-size: $fs-l;
                text-align: center;
                font-weight: $fw-normal;
                line-height: 1.25em;
            }

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                max-width: 1000px;
                gap: $standard-padding;
                width: 100%;
                margin-top: calc( 2 * $standard-padding);
                margin-bottom: calc( 4 * $standard-padding);

                .form-section {
                    width: 100%;
                    font-size: $fs-m;

                    input, textarea {
                        width: 100%;
                        background: none;
                        border: none;
                        padding: $standard-padding;
                        border-bottom: 2px solid $light-purple;
                        font-size: $fs-s;
                        color: $dark-grey;
                        font-weight: $fw-normal;
                    }

                }

                .form-button {
                    background-color: $purple;
                    border-radius: 30px;
                    border: 1px solid $purple;
                    font-size: $fs-m;
                    padding: 5px 30px;
                    transition: all 500ms;
                    margin-top: $standard-padding;
                    color: $white;
                }

                .form-button:hover {
                    background-color: $purple;
                    border-color: $purple;
                }
            }
        }
        
    // FOOTER 

        .footer-body {
            padding: $standard-padding;
            padding-bottom: calc(4 * $standard-padding);
            width: 100vw;
            background-color: $light-purple;
            border-top: 2px solid $purple;
            display: flex;
            flex-direction: column;
            gap: calc( 2 * $standard-padding);
            align-items: flex-start;
            justify-content: flex-start;
                
            ul:not(.socials) {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: calc($standard-padding / 2);
                align-items: flex-start;
                justify-content: flex-start;
            }
            
            .socials {
                list-style: none;
                display: flex;
                gap: $standard-padding;
                align-items: flex-start;
                justify-content: flex-start;
                color: $black;
                font-size: $fs-s;
            }
            
            li, a {
                color: $black;
                font-size: $fs-s;
                font-weight: $fw-normal;
            }
        }

    @media only screen and (min-width: 480px) {
        .section {
            padding-top: calc( 4 * $standard-padding);
        }
    }

    // UTILITY CLASSES

    .row-reverse {
        flex-direction: row-reverse;
    }

    .display-none {
        display: none !important;
    }

    .fade-out-animation {
        animation: fade-out 250ms ease-in;
    }

    .fade-in-animation {
        animation: fade-in 200ms ease-in;
    }

    .hidden {
        opacity: 0.25;
    }

    .section {
        transition: all 1.5s;
    }

    .section-hidden {
        opacity: 0;
    }